@import url('https://fonts.cdnfonts.com/css/nofex');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    scroll-behavior: smooth;
}
body{
    background-color: #000;
}

.hero-bg {
    background-image: url('./assets/hero-img.jpg');
    background-size: cover;
    background-position: center;
}

h1{
    color: #fff;
}

.heading3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
}

.heading1{
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.f-cabin{
    font-family: 'Cabin', sans-serif;
}

.f-nofex {
    font-family: 'Nofex', sans-serif;
}

.f-roboto{
    font-family: 'Roboto', sans-serif;
}

.bg-gray {
    background-color: rgb(26, 26, 26);
}

.bg-paragraph {
    background-color: #e5e5e5;
 }
 

@media screen and (max-width: 1040px) {

    .nav-menu{
        width: 100%;
        height: 100vh;
        background: rgba(0, 0, 0, 0.9);
        position: absolute;
        top: 0;
        left: -100%;
        z-index: -3;
    }
    .nav-menu.active {
        left: 0;
    }

}

/* scroll bar  */

::-webkit-scrollbar {
    width: 3px;
    background-color: rgb(34, 34, 34);
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #e5e5e5; 
  }

  
/* link hover  */


.link-hover::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  background-color: #fff;
  bottom: 0;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .3s ease-in-out;
}

.link-hover:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}